doctype html
html
  head
    title SWIFT-SKETCH

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='dist/')

    // Styles
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,300i,400,400i')
    link(rel='stylesheet', href='https://cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css')
    //-link(rel='stylesheet', href='/assets/css/toastr.css')
    link(rel='stylesheet', href='assets/css/bootstrap.css')
    link(rel='stylesheet', href='assets/css/swift-sketch.css')

    // Polyfill(s) for older browsers
    script(src='assets/js/shim.min.js')

    // Libraries
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.js')

    script(src='assets/js/zone.js')
    script(src='assets/js/system.src.js')

    script(src='systemjs.config.js')
    script.
      System.import('main.js').catch(function (err) { console.error(err) })

  body
    app Loading...